<h1>Product</h1>
<!-- http://www.agoodme.com/#/preview/tid=14f8d528c8c71a80 -->
<iframe width="960px" height="600px" src="http://www.agoodme.com/#/preview/tid=14f8d528c8c71a80"></iframe>
<script type="text/javascript">
    (function(){
        window._product = {
            id: 1001,
            uid: 2001,
            name: 'product1'
        };
    })();
</script>