<h1><%= title %></h1>

<p>Welcome to <%= title %></p>
<p>
    登录ME制作平台（www.agoodme.com）后，点击上方的【开始创作】就可以进入模板选择页面。
    你可针对场景或标签选择合适的模板，如场景中的“贺卡”，标签中的“企业招聘”。
    通过二维码扫描或直接点击，可以得到模板的预览效果，方便你快速寻找。
</p>

<a href="/home">home</a>
<a href="/home/sub">homesub</a>
<a href="/home/list">list</a>
<br/>
<a href="/product/show/2001">product2001</a>
<a href="/product/show/2002">product2002</a>
<a href="/product/show/2003">product2003</a>
<a href="/product/show/2004">product2004</a>
